@model edxl_cap_v1_2.Models.ContentViewModels.EdxlCapMessageViewModel

@*@{
    Layout = "~/Views/Shared/_EdxlLayout.cshtml";
}*@

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/capv1_2_refimp.css" />
    <title>Assemble EDXL-CAP Message</title>
</head>

<h4>Assemble EDXL-CAP Message</h4>

<!-- DetailsAlert -->
<div class="content-wrapper">
    @await Html.PartialAsync("_DetailsAlert", Model.Alert, new ViewDataDictionary(ViewData){{"Alert_Identifier", "SelectedAlertIndex"}})
</div>
<!-- End of DetailsAlert -->

<!-- DetailsInfo -->
<div class="content-wrapper">
    @await Html.PartialAsync("_DetailsInfo", Model.Info, new ViewDataDictionary(ViewData){{"Alert_Identifier", "SelectedInfoIndex"}})
</div>
<!-- End of DetailsInfo -->

<!-- DetailsArea -->
<div class="content-wrapper">
    @await Html.PartialAsync("_DetailsArea", Model.Area, new ViewDataDictionary(ViewData){{"Alert_Identifier", "SelectedAreaIndex"}})
</div>
<!-- End of DetailsArea -->

<!-- DetailsResource -->
<div class="content-wrapper">
    @await Html.PartialAsync("_DetailsResource", Model.Resource, new ViewDataDictionary(ViewData){{"Alert_Identifier", "SelectedAlertIndex"}})
</div>
<!-- End of DetailsResource -->
